<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{subject}}</title>
</head>
<body style="margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,sans-serif;">
    <div style="font-family: Arial, sans-serif; padding: 20px; max-width: 600px; margin: auto; background-color: #f9f9f9; border-radius: 8px;">
    <h2 style="color: #2d2d2d;">Forgot Your Password?</h2>
    <p style="font-size: 16px; color: #555;">
        Hello {{name}}, <br/><br/>
        We received a request to reset your password. click on the button below to proceed:
    </p>
    <div style="text-align: center; margin: 30px 0;">
        <a href="{{link}}" style="display: inline-block; font-size: 28px; letter-spacing: 4px; background-color: #fff; padding: 12px 20px; border-radius: 6px; border: 1px solid #ddd; font-weight: bold;">
        Change Password
        </a>
    </div>
    <p style="font-size: 14px; color: #777;">
        This code will expire in 15 minutes. If you didn't request this, you can safely ignore this email.
    </p>
    <p style="margin-top: 40px; font-size: 13px; color: #aaa;">
      &copy; {{year}} Banquet Pro. All rights reserved.
    </p>
    </div>`
</body>
</html>
